form {
    &.career-form {
        input {
            padding: 14px 10px;

        }

        ::placeholder {
            color: #667085 !important;
        }

        .btn {
            padding: 16px 10px;
        }
    }
}