.scroll-to-top {
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 1000;
}

.scroll-to-top-btn {
    background: $jade-green-600;
    color: #fff;
    border: none;
    border-radius: 50rem;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 24px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;

    &:hover {
        opacity: 0.85;
    }
}