.text-gradient {
    background: $primary;
    background: linear-gradient(to right, $electric-green-500 0, $electric-green-600 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}