.text-gradient {
    background: $primary;
    background: linear-gradient(to right, $electric-green-500 0, $electric-green-600 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-headline {
    letter-spacing: -1px;

    &-label {
        font-family: $font-family-sans-serif;
        font-weight: $font-weight-light;
        letter-spacing: 3px;
        padding-bottom: 0;
        display: inline-block;
        position: relative;
        z-index: 1;

        @include media-breakpoint-up(lg) {
            padding-bottom: .5rem;
        }

        &::after {
            content:'';
            position: absolute;
            bottom: 3px;
            left: 50%;
            transform: translateX(-50%);
            height: 7px;
            width: 120%;
            border-radius:6px;
            z-index: -1;

            @include media-breakpoint-up(lg) {
                bottom: 12px;
            }            
        }

        &--primary {
            &::after {
                background-color: $primary;
            }

        }

        &--secondary {
            &::after {
                background-color: $secondary;
            }

        }

    }

}

.unselectable {
    user-select: none;
}

.text-figtree {
    font-family: $font-family-sans-serif;
}

.text-noto {
    font-family: $font-family-serif;
}

.fw-bold-800 {
    font-weight: 800;
}

.fw-bold-900 {
    font-weight: 900;
}

.btn-icon-invert {
    img {
       filter: invert(100%) saturate(0) brightness(2);
    }
}

.hr {
    &--primary {
        border-color: #D0D5DD;
        opacity: 1;
    }
}

.sticky {
	position: relative;
	// top: 24px;
    display: flex;
    flex-direction: column;
    height: 80vh;
    // top: 10vh;
    margin: auto;
    border-radius: 14px;
    gap: 3vh;
    text-align: center;
    margin-bottom: 5vh;

}


