#communications-hero {
    .hero__bg-image {
        background-image: url('/images/services/communications/hero-comms.webp');
    }

    .hero__video-image {
        position: absolute;
        border-radius: 100%;
        transition: .3s ease;

        @include media-breakpoint-up(md) {
            margin-top: 50px;
            width: 33vw;
        }

        @include media-breakpoint-up(xl) {
            margin-top: 50px;
            width: 38%;
        }

    }

}

#communications-creative-studio {

    .section-wrapper {
      background-color: $electric-green;
      position: relative;
      overflow: hidden;
    }

    .dot {
        position: absolute;
        display: inline-block;
        border-radius: 99px;

        &__one {
            background-color: #F8EF67;
            height: 36px;
            width: 36px;
        }

        &__two {
            background-color: #243551;
            height: 106px;
            width: 106px;
        }
        
        &__three {
            background-color: #51C1BD;
            height: 76px;
            width: 76px;
        }        

    }

}

#communications-web-design {

    .iso-container {
        height: 400px;
    }

    .iso-row {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        transform: rotateX(0deg) rotateY(0deg) rotateZ(-20deg);
        position: relative;
    }

    .column {
        padding: 20px;
        width: 50%;
        max-width: 50%;
        flex: 1 1 50%;
        position: relative; /* Required for parallax positioning */
        transform: translate(0); /* Initial position for parallax */
    }

    .ItemCard__thumb {
        transform: translate(0); /* Initial position for parallax */
        box-shadow: 0px 10px 30px rgba($color: #000000, $alpha: .25)
    }

}