.card {

    &--service {
        position: relative;
        background: none;
        height: 100%;

        a {
            height: 100%;
        }

        .card-image {
            border-radius: 1rem;
            overflow: hidden;
            position: relative;
            height: 100%;

            img {
                height: 100%;
                object-fit: cover;
            }

            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: $black;
                opacity: 0;
                transition: all 0.3s ease;
            }

            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 1rem;
                background: $jade-green-700;
                transform: translate3d(0, 1rem, 0);
                transition: transform 0.35s;
            }
        }

        .card-body {
            position: absolute;
            bottom: 64px;
            left: 24px;
            color: $white;
            padding: 0;
            text-align: left;
            transition: transform 0.35s;

            @include media-breakpoint-up(md) {
                bottom: 64px;
                left: 64px;
            }

            // .card-title {
            //     font-size: $h3-font-size;
            //     font-weight: $font-weight-bold;

            //     @include media-breakpoint-up(lg) {
            //         font-size: 48px;
            //     }
            // }

            .card-text {
                font-size: $font-size-base;

                @include media-breakpoint-up(lg) {
                    font-size: $h4-font-size;
                }
            }
        }

        &:hover {
            .card-image {
                &::before {
                    opacity: 0.4;
                }
                &::after {
                    transform: translate3d(0, 0, 0);
                }
            }

            .card-body {
                transform: translate3d(0, 1.5rem, 0);
            }
        }
    }

    &--case-study {

        .card-title {
            font-size: 28px;

            @include media-breakpoint-up(lg) {
                font-size: 36px;
            }
        }
    }

    &--career {
        box-shadow: 0px 12px 16px -4px rgba(16, 24, 40, 0.08), 0px 4px 6px -2px rgba(16, 24, 40, 0.03);
        transition: all 0.3s ease;

        .career-title {
            font-size: 18px;
            font-weight: 600;
        }

        .btn {
            color: #008072;
            font-size: 14px;

            img {
                transition: all 0.3s ease;
            }
        }

        &:hover {
               box-shadow: 0px 12px 16px -4px rgba(16, 24, 40, 0.04), 0px 4px 6px -2px rgba(16, 24, 40, 0.015);

            .btn img {
                transform: rotate(45deg);
            }
        }
    }

    &--insight {

        a {
            color: $gray-900;
        }

        .card-author {
            img {
                width: 40px !important
            }
        }

        .card-image {
            height: 159px;
            overflow: hidden;

            img {
                object-fit: cover;
                transition: all 1s ease;
            }
        }

        &.featured {

            .card-image {
                display: flex;
                flex: 1 1 auto;
                height: 247px;
            }

            @include media-breakpoint-up(lg) {

                a {
                    display: flex;

                    .card-image {                           
                        margin-right: 2rem;
                    }

                    .card-body {
                        width: 300px;
                        flex: 0 0 auto; 
                    }
                }

            }
        }

        &:hover {
            .card-image img {
                transform: scale(1.05);
            }
        }
    }

}