.home-page-hero-section {
    background: radial-gradient(125.18% 217.2% at 33.81% -2.56%, #01362E 10%, #016255 45%, #B5D335 80%);
    animation: GradientRotation 30s ease infinite;
    background-size: 200% 200%;
}