@font-face {
    font-family: 'NotoSerif';
    font-weight: 400;
    src: url('/fonts/NotoSerif-Regular.woff') format('woff');
}

@font-face {
    font-family: 'NotoSerif';
    font-weight: 700;
    src: url('/fonts/NotoSerif-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Figtree';
    font-weight: 400;
    src: url('/fonts/Figtree-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Figtree';
    font-weight: 700;
    src: url('/fonts/Figtree-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Figtree';
    font-weight: 800;
    src: url('/fonts/Figtree-ExtraBold.woff') format('woff');
}
